body{
    background-image: linear-gradient(180deg, rgb(0, 44, 85), rgb(81, 150, 207));
    height: auto;
}

nav{
    background-image: linear-gradient(180deg, rgb(201, 231, 255), rgb(221, 236, 243));
}

.pad{
    padding: 11px;
}
h4{
    text-align: center;
    color: white;
    padding-top: 6px;
}
