@font-face{
    font-family:'digital-clock-font';
    src: url('digital-7.ttf');
   }
body{
    background-image: linear-gradient(180deg, rgb(1, 24, 46), rgb(81, 150, 207));
    height: 110vh;
}

nav{
    background-image: linear-gradient(180deg, rgb(201, 231, 255), rgb(221, 236, 243));
}

.pad{
    padding: 11px;
}
h4{
    text-align: center;
    color: white;
    padding-top: 6px;
}
p{
    background-color: black;
    color: rgb(0, 192, 250);
    border-radius: 10px;
    width: 90px;
    height: 30px;
    padding-left: 13px;
    font-size: 22px;
    font-family:'digital-clock-font';
}

.box{
    align-items: center;
    justify-content: center;
    border-color:rgb(1, 34, 43);
    border-width: 2px;
    border-radius: 15px;
    background-color: rgb(182, 228, 255);
}

footer{
    position: absolute;bottom: 0; 
    right: 500px;
}

.date{
    width: 115px;
}

a{
    color: rgb(3, 3, 151);
}